<!DOCTYPE html>
<html lang="ru">
  <head>
    {% block head %}
      <meta charset="utf-8">
      <title>Сайт начинающего верстальщика </title>
      <link rel="stylesheet" href= {{ url_for('static', filename="style.css") }}>
    {% endblock %}
  </head>
  <body>
    <header>
      <div class="avatar-container">
          <img class="avatar" src ={{ url_for('static', filename="img/raccoon.svg") }} width="80" height="80" alt="Аватарка">
      </div>
    {% block navigation %}
      <h1 class="page-title">Сайт начинающего верстальщика</h1>
      <nav class="blog-navigation">
        <a href={{ url_for('start') }}>На главную</a>
      </nav>
    {% endblock %}
    </header>
    <main>
      {% block content %}
      {% endblock %}
    </main>
    <footer>
      Подвал сайта
    </footer>
  </body>
</html>
