{%extends "base.html" %}

{% block navigation %}
<nav class="blog-navigation">
    <a href= {{ url_for('start') }}>На главную</a>
</nav>
{% endblock %}

{% block content %}

<article>
  <h1>День шестнадцатый. Конспект Каменской</h1>
  <h2>FLASK</h2>
    <p>Первым делом открываем пустую страницу. Для этого используем Flask. Его нужно импортировать и заключить в переменную:</p>
    <pre>
        from flask import Flask
        app = Flask(__name__)
    </pre>

    <p>Саму страницу мы открываем следующим образом:</p>
    <pre>
        @app.route('/example (навигационное название страницы)')
    </pre>
    <p>В ковычках в скобке пишется ссылка, которая будет видна в строке поиска.
        Сюда нужно добавить функцию, с помощью которой будет запускаться файл с кодом, пишущий содержимое страницы:</p>
    <pre>
        @app.route('/example (навигационное название страницы)')
        def example():
            return render_template('example.html (Название файла)')
    </pre>
    <p>Можно сделать ссылку на другую страницу. Такой код нужно заключить в тег "a" (без кавычек), который нужно закрыть после назввния, финального вида ссылки.
        Такой код уже помещается уже в код самой страницы.</p>
    <pre>
        <'a' href={url_for('second-example')}>Финальный внешний вид ссылки
    </pre>


</article>



<aside class="partnership">
  Тут могла быть ваша реклама
</aside>
{% endblock %}