{% extends "base.html" %}

{% block header %}
      <p class="page-title">Регистрация</p>
       <nav class="blog-navigation">
    <a href= {{ url_for('hello') }}>На начальную</a>
      </nav>
      {% endblock %}


{% block head %}

    {{ super() }}
    <link rel="stylesheet" href={{ url_for('static', filename='form-style.css') }}>
{% endblock %}

{% block content %}
    <h2>Регистрация</h2>
    <p>У зарегистрированных пользователей больше плюшек</p>
    {% for cat, msg in get_flashed_messages(with_categories=True) %}
        <div class="flash {{ cat }}">{{ msg }}</div>
    {% endfor %}
    <form class="feedback-form" action= "{{ url_for('login')}}" method="post">
        <p>
            <label for="login">Введите свой логин:</label>
            <input type="text" name="login" id="fullname">
        </p>
        <p>
            <label for="password">Пароль:</label>
            <input type="password" name="password" id="password">
        </p>

        <input class="btn" type="submit" value="Отправить">

        <input class="btn" type="submit" value="Отправить">
    </form>
{% endblock %}
